@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'LeferiPoint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
    font-family: 'Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    font-family: 'SeoulNamsanM';
    font-style:normal;
}

a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    height: 5vh;
    background-color:rgba(0, 0, 0, 0)
}

.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}

.navbar_menu li{
    padding: 8px 40px;
}

div{
    display: flex;
}

.left{
    width:40%;
    float:left;
    box-sizing: border-box;
    padding: 3vw;
}
.right{
    width:60%;
    float:right;
    box-sizing: border-box;  
    flex-direction: column;  
    padding-left: 3vw;
    padding-right: 3vw;
}

.photo{
    float: right;
    position: relative;
    background: white;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    box-sizing: border-box;
}

.photo::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

