@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    font-family: 'SeoulNamsanM';
    font-style:normal;
}

a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    height: 5vh;
    background-color:rgba(0, 0, 0, 0)
}

.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
}

.navbar_menu li{
    padding: 8px 40px;
}

div{
    width: 100%;
    display: flex;
}
.left{
    width:40%;
    float:left;
    box-sizing: border-box;
}
.right{
    width:60%;
    float:right;
    box-sizing: border-box;    
}

.photo{
    background: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    margin: 50px;
}